html,body, #root{
  height: 100%;
  width: 100%;
}
*{
  box-sizing: border-box;
}

/* Banner */
.banner {
  background-image: url('https://plus.unsplash.com/premium_photo-1673953509975-576678fa6710?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  height: 40%;
}

/* Services */
.options {
  background-color: rgb(122, 122, 202);
  height: 10%;
  padding: 15px;
  display: flex;
  justify-content: center;
}

/* Security Info */
.security-info {
  background-color: rgb(215, 198, 198);
  height: 7%;
  display: flex;
  justify-content: center;
  padding: 7px;
}